/*!**********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./templates/components/footer/footer.scss ***!
  \**********************************************************************************************************************************/
footer {
  background-color: black;
  color: white;
}
/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./templates/index.scss ***!
  \***************************************************************************************************************/
* {
  font-size: 16px;
}

body {
  color: red;
}
